# Segmenting and Clustering Neighborhoods in Toronto
## Week 3 Peer Graded Assignment

In [80]:
import pandas as pd
import html5lib
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

### Read Given Wiki Page, Search For all Tables and condition to get the table with our required fields

In [20]:
tables= pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
headings=['Postcode','Borough','Neighbourhood']
for table in tables:
    current_headings = table.columns.values[:4]
    if len(current_headings) != len(headings):
        continue
    if all(current_headings == headings):
        break
table.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Convert the table to csv and Call it to a data frame

In [21]:
table[headings].to_csv('data.csv', sep=',', header=True, index=False)

In [22]:
df=pd.read_csv('data.csv')
df.shape

(288, 3)

In [23]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Removing rows with value of Borough = 'Not assigned'

In [24]:
df = df[df.Borough != 'Not assigned']

In [25]:
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

### Merging rows with same Postcode

In [26]:
aggregation_functions = {'Borough': 'first', 'Neighbourhood': ','.join}
df2 = df.groupby(df['Postcode']).aggregate(aggregation_functions).reset_index()

In [27]:
df2.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

## Copying Values 'Borough' to 'Neighbourhood',for rows which having 'Neighbourhood'=='Not Assigned'

In [28]:
df2.loc[df2['Neighbourhood']=='Not assigned','Neighbourhood']=df2.Borough

#### M7A was the only one remaining 'Not assigned' Neighbourhood column. Checking it's current State

In [29]:
df2[df2.Postcode == 'M7A']

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Queen's Park

In [30]:
df2.shape

(103, 3)

In [31]:
df2

,Postcode,Borough,Neighbourhood
0,M1B,Scarborough,"Rouge,Malvern"
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union"
2,M1E,Scarborough,"Guildwood,Morningside,West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
5,M1J,Scarborough,Scarborough Village
6,M1K,Scarborough,"East Birchmount Park,Ionview,Kennedy Park"
7,M1L,Scarborough,"Clairlea,Golden Mile,Oakridge"
8,M1M,Scarborough,"Cliffcrest,Cliffside,Scarborough Village West"
9,M1N,Scarborough,"Birch Cliff,Cliffside West"
10,M1P,Scarborough,"Dorset Park,Scarborough Town Centre,Wexford He..."
11,M1R,Scarborough,"Maryvale,Wexford"
12,M1S,Scarborough,Agincourt
13,M1T,Scarborough,"Clarks Corners,Sullivan,Tam O'Shanter"
14,M1V,Scarborough,"Agincourt North,L'Amoreaux East,Milliken,Steel..."
15,M1W,Scarborough,L'Amoreaux West
16,M1X,Scarborough,Upper Rouge
17,M2H,North York,Hillcrest Village
18,M2J,North York,"Fairview,Henry Farm,Oriole"
19,M2K,North York,Bayview Village
20,M2L,North York,"Silver Hills,York Mills"
21,M2M,North York,"Newtonbrook,Willowdale"
22,M2N,North York,Willowdale South
23,M2P,North York,York Mills West
24,M2R,North York,Willowdale West
25,M3A,North York,Parkwoods
26,M3B,North York,Don Mills North
27,M3C,North York,"Flemingdon Park,Don Mills South"
28,M3H,North York,"Bathurst Manor,Downsview North,Wilson Heights"
29,M3J,North York,"Northwood Park,York University"
...,...,...,...
73,M6C,York,Humewood-Cedarvale
74,M6E,York,Caledonia-Fairbanks
75,M6G,Downtown Toronto,Christie
76,M6H,West Toronto,"Dovercourt Village,Dufferin"
77,M6J,West Toronto,"Little Portugal,Trinity"
78,M6K,West Toronto,"Brockton,Exhibition Place,Parkdale Village"
79,M6L,North York,"Downsview,North Park,Upwood Park"
80,M6M,York,"Del Ray,Keelesdale,Mount Dennis,Silverthorn"
81,M6N,York,"The Junction North,Runnymede"
82,M6P,West Toronto,"High Park,The Junction South"
83,M6R,West Toronto,"Parkdale,Roncesvalles"
84,M6S,West Toronto,"Runnymede,Swansea"
85,M7A,Queen's Park,Queen's Park
86,M7R,Mississauga,Canada Post Gateway Processing Centre
87,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
88,M8V,Etobicoke,"Humber Bay Shores,Mimico South,New Toronto"
89,M8W,Etobicoke,"Alderwood,Long Branch"
90,M8X,Etobicoke,"The Kingsway,Montgomery Road,Old Mill North"
91,M8Y,Etobicoke,"Humber Bay,King's Mill Park,Kingsway Park Sout..."
92,M8Z,Etobicoke,"Kingsway Park South West,Mimico NW,The Queensw..."
93,M9A,Etobicoke,Islington Avenue
94,M9B,Etobicoke,"Cloverdale,Islington,Martin Grove,Princess Gar..."
95,M9C,Etobicoke,"Bloordale Gardens,Eringate,Markland Wood,Old B..."
96,M9L,North York,Humber Summit
97,M9M,North York,"Emery,Humberlea"
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village,Martin Grove Gardens,Richvie..."
101,M9V,Etobicoke,"Albion Gardens,Beaumond Heights,Humbergate,Jam..."
102,M9W,Etobicoke,Northwest

## Adding Geo Location to the Existing Data Frame

In [32]:
geo_loc=pd.read_csv('https://cocl.us/Geospatial_data')

In [33]:
geo_loc=geo_loc.rename(columns={'Postal Code':'Postcode'})

In [73]:
df_geo=pd.merge(left=df2,right=geo_loc, on='Postcode')
temp_df=df_geo
df_geo.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

<p>As K-Means Algorithm Cannot be done in Categorical Values, We have to drop all categorical Values</p>

In [74]:
temp_df.drop(['Postcode','Borough','Neighbourhood'],axis=1,inplace=True)

In [75]:
temp_df.head()

    Latitude  Longitude
0  43.806686 -79.194353
1  43.784535 -79.160497
2  43.763573 -79.188711
3  43.770992 -79.216917
4  43.773136 -79.239476

In [78]:

X = temp_df.values[:,1:]
X = np.nan_to_num(X)
cluster_dataset = StandardScaler().fit_transform(X)
cluster_dataset

array([[ 2.09777597],
       [ 2.44798852],
       [ 2.15613628],
       [ 1.86437197],
       [ 1.6310228 ],
       [ 1.6310228 ],
       [ 1.39772948],
       [ 1.16449306],
       [ 1.6310228 ],
       [ 1.3685726 ],
       [ 1.28110403],
       [ 1.04789553],
       [ 1.39772948],
       [ 0.96045696],
       [ 1.16449306],
       [ 0.81474393],
       [ 1.98106673],
       [ 0.3486083 ],
       [ 0.523382  ],
       [ 0.1156253 ],
       [ 0.23210904],
       [-0.1173008 ],
       [-0.1173008 ],
       [-0.0299605 ],
       [-0.46658445],
       [ 0.69818881],
       [ 0.465121  ],
       [ 0.58164715],
       [-0.46658445],
       [-0.9320953 ],
       [-0.6993678 ],
       [-1.13568453],
       [-1.01935285],
       [-1.28107896],
       [ 0.84388426],
       [ 0.90216906],
       [ 0.81474393],
       [ 1.07704414],
       [ 0.3486083 ],
       [ 0.49425098],
       [ 0.61078127],
       [ 0.465121  ],
       [ 0.84388426],
       [ 0.58164715],
       [ 0.08650566],
       [ 0.07194739],
       [-0.0881884 ],
       [ 0.08650566],
       [ 0.14474494],
       [-0.0299605 ],
       [ 0.20298733],
       [ 0.30491901],
       [ 0.14474494],
       [ 0.37773518],
       [ 0.18842596],
       [ 0.22482887],
       [ 0.24667041],
       [ 0.10106496],
       [ 0.1301846 ],
       [ 0.15930528],
       [ 0.16112481],
       [ 0.17932523],
       [-0.23374316],
       [-0.20463387],
       [-0.1464132 ],
       [-0.0881884 ],
       [-0.0299605 ],
       [-0.0299605 ],
       [ 0.02827051],
       [ 0.23074465],
       [ 0.15384464],
       [-0.6993678 ],
       [-0.49568547],
       [-0.32106485],
       [-0.58298336],
       [-0.26285143],
       [-0.46658445],
       [-0.23374316],
       [-0.32106485],
       [-0.96118184],
       [-0.81573879],
       [-0.9320953 ],
       [-0.6993678 ],
       [-0.61208128],
       [-0.90300772],
       [ 0.07922652],
       [-2.26190124],
       [ 0.78196041],
       [-1.07752076],
       [-1.51366267],
       [-1.13568453],
       [-1.04843732],
       [-1.28107896],
       [-1.39737754],
       [-1.62993333],
       [-1.86243118],
       [-1.74618949],
       [-1.39737754],
       [-1.25200173],
       [-1.39737754],
       [-1.62993333],
       [-1.97865839],
       [-2.0367663 ]])

In [81]:
num_clusters = 3

k_means = KMeans(init="k-means++", n_clusters=num_clusters, n_init=12)
k_means.fit(cluster_dataset)
labels = k_means.labels_

print(labels)

[2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 2 2 2
 2 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1
 1 1 1 1 1 0 0 0 0 0 0 1 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [82]:
df_geo["labels"]=labels

In [84]:
df_geo

      Latitude  Longitude  labels
0    43.806686 -79.194353       2
1    43.784535 -79.160497       2
2    43.763573 -79.188711       2
3    43.770992 -79.216917       2
4    43.773136 -79.239476       2
5    43.744734 -79.239476       2
6    43.727929 -79.262029       2
7    43.711112 -79.284577       2
8    43.716316 -79.239476       2
9    43.692657 -79.264848       2
10   43.757410 -79.273304       2
11   43.750072 -79.295849       2
12   43.794200 -79.262029       2
13   43.781638 -79.304302       2
14   43.815252 -79.284577       2
15   43.799525 -79.318389       2
16   43.836125 -79.205636       2
17   43.803762 -79.363452       1
18   43.778517 -79.346556       1
19   43.786947 -79.385975       1
20   43.757490 -79.374714       1
21   43.789053 -79.408493       1
22   43.770120 -79.408493       1
23   43.752758 -79.400049       1
24   43.782736 -79.442259       1
25   43.753259 -79.329656       1
26   43.745906 -79.352188       1
27   43.725900 -79.340923       1
28   43.754328 -79.442259       1
29   43.767980 -79.487262       0
..         ...        ...     ...
73   43.693781 -79.428191       1
74   43.689026 -79.453512       1
75   43.669542 -79.422564       1
76   43.669005 -79.442259       1
77   43.647927 -79.419750       1
78   43.636847 -79.428191       1
79   43.713756 -79.490074       0
80   43.691116 -79.476013       0
81   43.673185 -79.487262       0
82   43.661608 -79.464763       0
83   43.648960 -79.456325       0
84   43.651571 -79.484450       0
85   43.662301 -79.389494       1
86   43.636966 -79.615819       0
87   43.662744 -79.321558       2
88   43.605647 -79.501321       0
89   43.602414 -79.543484       0
90   43.653654 -79.506944       0
91   43.636258 -79.498509       0
92   43.628841 -79.520999       0
93   43.667856 -79.532242       0
94   43.650943 -79.554724       0
95   43.643515 -79.577201       0
96   43.756303 -79.565963       0
97   43.724766 -79.532242       0
98   43.706876 -79.518188       0
99   43.696319 -79.532242       0
100  43.688905 -79.554724       0
101  43.739416 -79.588437       0
102  43.706748 -79.594054       0

[103 rows x 3 columns]

In [86]:
df_geo.groupby('labels').mean()

         Latitude  Longitude
labels
0       43.687098 -79.519158
1       43.695659 -79.389651
2       43.746157 -79.265587